<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<description>service</description>
	<!-- 加载配置文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:application.properties" />
	<!-- 配置包扫描器，扫描@Service主键的类 -->
	<context:component-scan base-package="cn.zpc.mvc.*.service"/>
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置基于注解的声明式事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<bean id="ossConfig" class="com.aliyun.oss.ClientConfiguration">
		<property name="supportCname" value="true"/>
		<property name="maxConnections" value="1000"/>
		<property name="socketTimeout" value="300"/>
		<property name="maxErrorRetry" value="5"/>
	</bean>

	<bean id="ossClient" class="com.aliyun.oss.OSSClient">
		<constructor-arg name="endpoint" value="${aliyun.endpoint}"/>
		<constructor-arg name="accessKeyId" value="${aliyun.accessKeyId}"/>
		<constructor-arg name="secretAccessKey" value="${aliyun.accessKeySecret}"/>
		<constructor-arg name="config" ref="ossConfig"/>
	</bean>

</beans>